absl-py==1.4.0
aicsimageio==4.14.0
aiobotocore==2.5.4
aiohttp==3.9.3
aioitertools==0.11.0
aiosignal==1.3.1
annotated-types==0.6.0
antspyx==0.3.8
asciitree==0.3.3
async-timeout==4.0.3
attrs==23.2.0
batchgenerators==0.25
bioformats-jar==2020.5.27
botocore==1.31.17
certifi==2023.5.7
charset-normalizer==3.1.0
chart-studio==1.1.0
click==8.1.7
cloudpickle==3.0.0
cmake==3.26.3
connected-components-3d==3.12.1
contourpy==1.0.7
cycler==0.11.0
dask==2024.3.1
distributed==2024.3.1
dominate==2.4.0
dynamic-network-architectures==0.2
elementpath==4.4.0
faiss==1.7.3
faiss-cpu==1.7.4
fasteners==0.19
filelock==3.12.0
fonttools==4.39.4
frozenlist==1.4.1
fsspec==2023.6.0
future==0.18.3
GPUtil==1.4.0
grpcio==1.54.0
idna==3.4
imagecodecs==2024.1.1
imageio==2.28.1
importlib-metadata==6.6.0
importlib-resources==5.12.0
jgo==1.0.5
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
JPype1==1.5.0
jsonpatch==1.32
jsonpointer==2.3
kiwisolver==1.4.4
lazy_loader==0.2
linecache2==1.0.0
lit==16.0.5
locket==1.0.0
lxml==4.9.4
Markdown==3.4.3
MarkupSafe==2.1.2
matplotlib==3.7.1
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
monai==0.9.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.5
networkx==3.1
nibabel==5.1.0
numcodecs==0.12.1
numpy==1.24.4
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-cupti-cu11==11.7.101
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-cufft-cu11==10.9.0.58
nvidia-curand-cu11==10.2.10.91
nvidia-cusolver-cu11==11.4.0.1
nvidia-cusparse-cu11==11.7.4.91
nvidia-nccl-cu11==2.14.3
nvidia-nvtx-cu11==11.7.91
ome-types==0.5.0
ome-zarr==0.8.3
packaging==24.0
pandas==2.0.1
partd==1.4.1
patsy==0.5.3
Pillow==9.5.0
plotly==5.14.1
protobuf==4.23.0
psutil==5.9.8
pydantic==2.6.4
pydantic-compat==0.1.2
pydantic_core==2.16.3
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2023.3
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.2
requests==2.30.0
resource-backed-dask-array==0.1.0
retrying==1.3.4
s3fs==2023.6.0
scikit-image==0.20.0
scikit-learn==1.2.2
scipy==1.9.1
scyjava==1.9.1
SimpleITK==2.2.1
six==1.16.0
sortedcontainers==2.4.0
statsmodels==0.14.0
sympy==1.12
tblib==3.0.0
tenacity==8.2.2
tensorboard==1.15.0
tensorboardX==2.2
threadpoolctl==3.1.0
tifffile==2023.2.28
toolz==0.12.1
torch==2.0.0
torchaudio==2.0.1
torchfile==0.1.0
torchvision==0.15.1
tornado==6.3.1
tqdm==4.65.0
traceback2==1.4.0
triton==2.0.0
typing_extensions==4.10.0
tzdata==2023.3
unittest2==1.1.0
urllib3==1.26.18
visdom==0.1.8.9
webcolors==1.13
websocket-client==1.5.1
Werkzeug==2.3.4
wrapt==1.16.0
xarray==2024.2.0
xmlschema==3.1.0
xmltodict==0.13.0
xsdata==24.3.1
yarl==1.9.4
zarr==2.15.0
zict==3.0.0
zipp==3.15.0
